<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif|Noto+Serif+JP|Noto+Serif+KR|Noto+Serif+SC|Noto+Serif+TC&display=swap&subset=chinese-simplified,chinese-traditional,japanese,korean,latin-ext,vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="/index.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.3.4.1.min.js"></script>
    <script src="/number-to-chinese-words.min.js"></script>
    <script>
        const channel = '{{ channel }}' || null
        const nick = '{{ nick }}' || null
    </script>
    <script src="/index.js"></script>
</head>
<body>
    <div class="container vertical" id="chatlog-wrapper">
        <button type="button" id="loadmore">先誌</button>
        <div id="chatlog">
        </div>
    </div>
    {% if nick %}
    <form id="write">
        <input type="text" id="message" autocomplete="off">
        <button type="submit" id="send">送信</button>
        <button type="button" id="logout">退去</button>
    </form>
    {% else %}
    <form id="login" method="post" action="/login">
        <input type="text" name="nick" id="nick" placeholder="名">
        <input type="text" name="displaynick" id="displaynick" placeholder="實名">
        <input type="password" name="password" id="password" placeholder="暗號">
        <input type="text" name="channel" id="channel" value="{{ channel }}" placeholder="臺">
        <button type="submit">進入</button>
    </form>
    {% endif %}
</body>
</html>