
body {
    margin: 0px;
    background-color: antiquewhite;
}

#chatlog {
    font-size: 24pt;
    font-family: serif;
}

#write {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#write > * {
    width: 32px;
    font-size: 16pt;
}

#write > #message {
    flex: 1;
}

#write > #send {
    height: 10ex;
}

.vertical {
    writing-mode: vertical-rl;
}

.nick {
    color: blue;
}

.said {
    color: red;
}

.date {
    color: green;
}
